<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <title>Little Forest</title>
   <link rel="stylesheet" href="/css/joinpagestyle.css">
   <script src="../js/email.js"></script>

</head>

<body>
   <div class="login-container">
      <h2>JOIN</h2>
      <p class="subtitle">필수 정보를 입력해주세요.</p>

      <form id="joinForm" th:action="@{/join}" method="post">
         <input type="text" name="name" placeholder="이름" required />
         <input type="text" name="oauth_id" placeholder="아이디" required />
         <input type="date" name="birth" placeholder="생년월일" required />
         <input type="text" name="phone" placeholder="전화번호" required />
         <input type="text" name="password" placeholder="비밀번호" required />
         <div class="address-wrapper">
            <input type="text" id="address" name="address" placeholder="주소" required readonly />
            <button type="button" class="address-btn" onclick="openPostcode()">주소 검색</button>
         </div>
         <input type="text" name="detail_address" placeholder="상세주소" required />


         <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
         <script src="../js/address.js"></script>

         <!-- 이메일 입력칸 --><!-- 
         <!-- 카카오 로그인으로 넘어와서 email 값이 있는 경우 -->
         <input type="email" name="email" th:value="${email}" readonly 
                th:if="${email != null}" />

         <!-- 일반 회원가입에서 email 값이 없는 경우 -->
         <input type="email" id="email" name="email" placeholder="이메일" required 
                th:unless="${email != null}" />

         <!-- 이메일 인증코드 입력 + 버튼 한 줄 -->
         <div class="email-code-wrapper">
            <input type="text" id="emailCode" name="emailCode" placeholder="이메일 인증 코드 입력" required />
            <button type="button" onclick="requestEmailCode()">코드 받기</button>
         </div>

         <button type="submit">회원가입</button>
      </form>

      <!-- 홈으로 가기 -->
      <a href="/" class="btn home" style="color: white;">
         <img src="/image/home.png" alt="홈" style="width: 20px; height: 20px;">
         홈으로 가기
      </a>
   </div>
</body>

</html>