<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintecho.littleforest.mapper.GrownTreeMapper">
<select id="grownSelect" parameterType="GrownTreeVO">
select * from grown_tree_table where user_id=#{user_Id} order by id desc
</select>
<insert id="grownInsert" parameterType="GrownTreeVO">
insert into grown_tree_table
values(grown_Tree_seq.nextval,#{user_Id},#{growing_Tree_Id},sysdate,null)
</insert>

</mapper>