<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fintecho.littleforest.mapper.ProductMapper">

    <select id="getProductByProductId" resultType="com.fintecho.littleforest.vo.ProductVO">
        SELECT *
        FROM product_table
        Where id = #{product_Id}
    </select>
    
    <select id="getAllProductByMerchantId" resultType="com.fintecho.littleforest.vo.ProductVO">
        SELECT *
        FROM product_table
        Where merchants_id = #{merchant_Id}
    </select>

</mapper>